.recommend-detail{
  .cover{
    width: 100%;
    min-height: 350px;
  }
  .info-con{
    padding: 8px;
    .title{
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 14px;
    }
  }
}